.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 auto;
  margin: {
    left: auto;
    right: auto;
  }
  width: 100%;
  max-width: calc(var(--container-width) + (2 * var(--container-padding)));
  padding: {
    left: var(--container-padding);
    right: var(--container-padding);
  }

  &__title {
    margin: 0 0 20px;
    text-align: center;
    font-weight: 100;
    font-size: 28px;
    line-height: 1.25;
    text-transform: uppercase;

    @media screen and (min-width: 1024px) {
      margin-bottom: 30px;
      font-size: 42px;
    }
  }
}
